*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

html, body {
	height: 100%;
}

body {
  background-color: #DEFFD6;
  padding: 110px 0;
}

.center {
  width: 50%;
  height: 100%;
  border: 2px solid #b0cca9;
  border-radius: 10px;
  margin: auto;
}

.center img {
  max-width: 40%;
}

.logo {
  text-align: center;
  max-height: 33%;
}

form {
  max-width: 30%;
  text-align: center;
  border: 2px solid #b0cca9;
  border-radius: 20px;
  position: absolute;
}

input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
}