*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

html, body {
	height: 100%;
}

body {
  background-color: #DEFFD6;
}

.centralize {
  max-width: 60%;
  max-height: 80%;
  background-color: black;
}