*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

html, body {
	height: 100%;
}

body {
  background-color: #DEFFD6;
}

.center {
  height: 100%;
  margin: auto;
  padding: 20px;
}

.center img {
  max-width: 80%;
}

.logo {
  text-align: center;
  max-height: 33%;
}

form {
  font-weight: bold;  
  padding: 30px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #888888;
  border: 2px solid #b0cca9;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  margin-top: 80px;
  max-width: 80%;
}

input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
}

input[type=password] {
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
}

input[type=button] {
  position: relative;
  background-color: #6e5651;
  border: none;
  font-size: 18px;
  color: #DEFFD6;
  padding: 10px;
  width: 50%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  /*background-color: #4CAF50; /* Green /*
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 3px;
  */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 400px) {
  /* Adicione regras de estilo aqui para telas menores que 400px */
  body {
    padding: 50px 0;
  }
  
  .center {
    width: 80%;
  }
  
  form {
    max-width: 80%;
    margin-left: 10%;
  }
}
