* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5fff8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

#img-menu {
  margin-left: 10px;
  margin-right: 0;
}

#img-logo {
  margin-left: auto;
  margin-right: auto;
}

#img-login {
  margin-left: 0;
  margin-right: 10px;
}

.today {
  background-color: #CDDC39;
}

.holyday {
  background-color: #D6D8CA;
}

.news-rot {
  background-color: #f5fff8;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #deffd6;
  border-bottom: 1px solid #deffd6;
  border-left: 0;
  border-right: 0;
  margin-top: 20px;
  margin-bottom: 18px;
}

#news-text {
  text-align: center;
  font-size: 14px;
  color: #777;
}

#news-text a {
  color: #008080;
  font-weight: bold;
  text-decoration: none;
}

.principal {
  background-color: #ffffff;
  margin-top: 0px;
  padding: 10px;
  border-top: 0px solid #deffd6;
  border-bottom: 0px solid #deffd6;
  border-left: 0;
  border-right: 0;
}

.bottom-box {
  background-color: #f5fff8;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #deffd6;
  border-bottom: 1px solid #deffd6;
  border-left: 0;
  border-right: 0;
}

#bottom-text {
  text-align: center;
  font-size: 10px;
  color: #888;
}

#calendar {
  width: 70%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #8bc34a;
  box-shadow: 5px 5px 5px #888888;
}

td,
th {
  padding: 8px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

th {
  background-color: #8bc34a;
  color: white;
}

td:not(:empty):hover {
  background-color: #7aac41;
}

.text-box {
  background-color: #f5fff8;
  border: 1px solid #7f9c9b;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  min-height: 247px;
  width: 30%;
  height: calc(30vh - 100px);
  box-shadow: 5px 5px 5px #888888;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

/* Dropdown Button */
.dropbtn {
  background-image: url("https://cdn.glitch.global/f9cb10ab-76aa-4d91-9c68-15589ae1640c/menu-img.svg?v=1681056786404");
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8fff5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #deffd6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /*background-color: #3e8e41;*/
}
